.form{
    margin:10% auto 0 auto;
	padding:30px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:grey;
	border-radius:10px;
}

.form label{
    font-size:14px;
	color:darkgray;
	cursor:pointer;
}

.form label{
    float: left;
}

.errorMsg{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.phoneInput{
    float:left;
}