.form {
  margin-top: 20px;
  background-color: #eaeffd;
  padding: 20px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 500px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #2e62ec;
  margin-top: 10px;
  border-radius: 3px;
}

.input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 14px;
}

.button {
  width: 500px;
  height: 40px;
  margin-top: 10px;
  background-color: #2e62ec;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.errorMsg {
  color: red;
  font-size: 16px;
  min-height: 20px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.interestsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Adjust as needed */
}

.interestBox {
  display: flex;
  align-items: center;
  background-color: #8a8a8a; /* Adjust background color as needed */
  border-radius: 5px; /* Adjust border radius as needed */
  padding: 5px 10px; /* Adjust padding as needed */
}

.removeInterestBtn {
  margin-left: 5px; /* Adjust margin as needed */
  cursor: pointer;
  border: none;
  background: transparent;
}
