/* viewuserprofile.module.css */

.container {
  background-color: #eaeffd;
  padding: 20px;
  border-radius: 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  max-width: 600px;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: center; /* Align horizontally centered */
  margin-bottom: 20px;
}

.profilePicture {
  width: 80px;
  height: 80px;
  background-color: gray; /* Placeholder color */
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px; /* Equal space from left border */
}

.fullname {
  font-weight: bold;
  font-size: 24px;
}

.fieldGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.info {
  padding: 5px;
  font-size: 14px;
  color: gray;
  font-style: italic;
  background-color: #ffffff;
  width: 500px;
  border-radius: 3px;
  border: 1px solid #2e62ec;
  margin-bottom: 10px;
  height: 30px;
}

.interestsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 8px; /* Adjust as needed */
  background-color: #ffffff;
}

.interestBox {
  background-color: #77777786; /* Example background color */
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
  /* display: inline-block;
  margin: 2px; */
  width: auto;
}

.editButton {
  width: 500px;
  height: 40px;
  margin-top: 10px;
  background-color: #2e62ec;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
