# Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
venv/
.env

# IDE/Editor folders
.vscode/
.idea/

# Operating system files
.DS_Store

# Backend files
backend/**/semantic_search.fiass
backend/**/semantic_search.json
backend/**/semantic_search.sqlite
backend/**/portfolio_companies_raw_data.csv
