.navbar{
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.navbarBody{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.signupButton{
  background-color: #DEDEDE;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.signupButton:hover{
  background-color: white;
  color: black;
} 

.loginButton{
  background-color: #DEDEDE;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.login:hover{
  background-color: white;
  color: black;
} 

